body {
    background-color: #ffffe6;
	font-family: Amiri ;
  background-image: url("https://i.pinimg.com/736x/40/1b/90/401b907c4595079f31fe1592f674d9d4--chevron-wallpaper-black-screensaver-iphone-wallpaper.jpg");
  background-color: #cccccc;
}
p {
    margin-left: 160px;
    margin-top: 60px;
    margin-right: 160px;
}
h1 {

	font-family: Roboto ;
  font-size: 60px;
}
h3 {

	font-family: Amiri ;
  font-weight: bold;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

em {
    font-style: italic;
}

#grad {
  background: linear-gradient(to bottom right, #ffffe6, white); /* Standard syntax */
}
